<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<gui name="kipiplugin_jalbum" version="2">
 <MenuBar>
  <Menu name="Export">
   <text>&amp;Export</text>
   <Action group="kipi_export_group" name="jalbum"/>
  </Menu>
  <Menu name="Export">
   <text>&amp;Export</text>
   <Action group="kipi_export_group" name="jalbum"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar">
  <text>Main Toolbar</text>
 </ToolBar>
</gui>
