Package: big-skel
Version: 7.0.0-4big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:46988
Description: Skeleton to default user configuration


