Package: big-skel
Version: 7.2.0-1big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:7204
Description: Skeleton to default user configuration


