@import 'colors.css';

/* 
  Configuration XFCE
*/
#pulseaudio-button image { -gtk-icon-transform: scale(0.50); }
#xfce4-power-manager-plugin image {-gtk-icon-transform: scale(0.50);}
#xfce4-notification-plugin image {-gtk-icon-transform: scale(0.50);}
