#!/usr/bin/env xdg-open
[Desktop Entry]
Name=webapps
Exec=epiphany --application-mode --profile="/home/biglinux/.local/share/epiphany-webapps-5f2be8852d9d785d977e2f96cfc39587a35b64f0" https://webapps/
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;
Icon=/home/biglinux/.local/share/epiphany-webapps-5f2be8852d9d785d977e2f96cfc39587a35b64f0/app-icon.png
StartupWMClass=epiphany-webapps-5f2be8852d9d785d977e2f96cfc39587a35b64f0
